<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <script src="js/jquery.gridster.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

   <link rel="stylesheet" type="text/css" href="css/jquery.gridster.css">
   <title>Home</title>
</head>

<body>
   <div id="screen" class="container">
      <p class="user-email pt-2"><%= user %></p>
      <div class="row"><center>
         <img src="img/logo.svg" alt="yoast seo" height="288" width="388"/></center>
         <% for (item of devices) { %>
           <div class="col">
            <div class="card">
               <form action="/enviar-reporte" >
                  <center>
                  <h2 id="dispositivo"><%= item.name %></h2>
                  <br> 
                  <h4>Temperatura Actual</h4>
                  <h1 id="temperatura"><%= item.params.currentTemperature %>°C
                  <br>
                  <h4 for="humedad">Humedad Relativa</h4>
                  <h2 id="humedad"><%= item.params.currentHumidity %>%</h2>
                  <br> 
                 
                  <input type="hidden" name="dispositivo" value="<%= item.name %>">
                  <input type="hidden" name="temperatura" value="<%= item.params.currentTemperature %>°C">
                  <input type="hidden" name="humedad" value="<%= item.params.currentHumidity %>%">
                  <button  type="button" class="button-20"  role="button" id="pdf-btn"  type="submit" onClick="location.href='/view';"> Historial - <%= item.name %></button></center>
               </form>
            </div>
         </div>
         <% } %>
      </div>
      <br><br>
      <div class="mt-2 mb-4" id="historicos">
         <div class="text-center mb-4">
            <img src="img/logo.svg" height="150" width="390"/>
         </div>
         <h3>Datos históricos. Últimas 24hs.</h3>
         <table class="table">
            <thead>
               <tr>
                  <th>Fecha y hora</th>
                  <th>Dispositivo</th>
                  <th>Temperatura Registrada</th>
               </tr>
            </thead>
            
            <% for (item of historicDevices) { %>
               <tr>
                  <td><%= item.currentDate.toDate().toLocaleString() %></td>
                  <td><%= item.device.name %></td>
                  <td><%= item.temperature %> °C</td>
               </tr> 
            <% } %>
         </table>
         <h2>Grafico heladera 1</h2> 
         <canvas class="col" id="grafico1container"></canvas>
         <!-- <div class="col" id="grafico2container"></div>
         <div class="col" id="grafico3container"></div>
         <div class="col" id="grafico4container"></div> -->
      </div>
      <center>
         <button type="button" class="button-20" role="button" onClick="location.href='/excel';">DESCARGAR REPORTE EN EXCEL</button>
      </center>
      <br><br>

      <!-- HTML !-->
      <!-- HTML !-->

      <!-- HTML !-->

      <!-- <script> 
         $(document).ready(function(){
            setInterval(function(){
                  $("#screen").load(window.location.href);
            }, 20000);
         });
      </script> -->

      <body>
         <div class="gridster">
            <ul>
               <li data-row="1" data-col="1" data-sizex="5" data-sizey="6"><img src="img/logo.svg" alt="beta" />
                  <canvas id="graficoTemp"></canvas>
               </li>
               <li data-row="1" data-col="5" data-sizex="5" data-sizey="6">
                  <canvas id="line-chart"></canvas><img src="img/logo.svg" alt="beta" />
               </li>
               <li data-row="7" data-col="1" data-sizex="5" data-sizey="5">
                  <canvas id="chart3"></canvas>
               </li>
               <li data-row="7" data-col="6" data-sizex="5" data-sizey="5">
                  <canvas id="chart4"></canvas>   
               </li>
            </ul>
         </div>
         <br><br>
         <center>
            <button type="button"  class="button-20" role="button"  id="export">DESCARGAR REPORTE EN PDF</button>
         </center>
         <br><br>
      </body>

      <script>
         let arrayTemperaturas = '<%= tempArray %>'.split(',');
         let arrayDispositivos = '<%= deviceArray %>'.split(',');
         let arrayHumedad = '<%= humidityArray %>'.split(',');

         let temperaturasHeladera1 = '<%= temperaturas1 %>'.split(',');
         let fechasHeladera1 = '<%= fechas1 %>'.split(',');

         let temperaturasHeladera2 = [];
         let temperaturasHeladera3 = [];
         let temperaturasHeladera4 = [];

         console.log(temperaturasHeladera1);


         const temperaturaContainer = document.getElementById('graficoTemp');
         const humedadContainer = document.getElementById('graficoHum');

         const graficoHeladera1Container = document.getElementById('grafico1container');

         const graficoHeladera1 = new Chart(graficoHeladera1Container, {
            type: 'line',
            data: {
               labels: fechasHeladera1,
               datasets: [{
                  label: 'Temperatura Relativa',
                  data: temperaturasHeladera1,
                  backgroundColor: [
                     'rgb(255, 99, 132)',
                     'rgb(54, 162, 235)',
                     'rgb(255, 205, 86)',
                     'rgb(62, 205, 86)'
                  ],
                  fill: false,
                  hoverOffset: 4
               }],
            },
            options: {
               plugins: {
                  labels: {
                     render: function (args) {
                        return args.value + ' °C';
                     },
                     fontColor: '#ffffff',
                     fontSize: 18,
                  }
               }
            }
         });

         const graficoTemperatura = new Chart(temperaturaContainer, {
            type: 'bar',
            data: {
               labels: arrayDispositivos,
               datasets: [{
                  label: 'Temperatura Relativa',
                  
                  data: arrayTemperaturas,
                  
                  backgroundColor: [
                     'rgb(255, 99, 132)',
                     'rgb(54, 162, 235)',
                     'rgb(255, 205, 86)',
                     'rgb(62, 205, 86)'
                  ],
                  hoverOffset: 4
               }],
            },
            options: {
               plugins: {
                  labels: {
                     render: function (args) {
                        return args.value + ' °C';
                     },
                     fontColor: '#ffffff',
                     fontSize: 18,
                  }
               }
            }
         });

         $(function(){ //DOM Ready
            //instantiate gridster 
            $(".gridster > ul ").gridster({
               widget_margins: [8, 8],
               widget_base_dimensions: [100, 55]
            });

            //fill first widget
            firstChart();

            //fill second widget
            thirdChart();

            //fill fourth widget
            fourthChart();

            $("#export").on("click", function() {
               exportDashboard();
            });
         });

         function exportDashboard() {
            //instantiate jsPDF 
            var doc = new jsPDF('p','mm','a4');
            doc.addHTML($("#historicos"), 15, 15, {
               'background': '#fff',
            }, function() {
               doc.save('DOC.pdf');
            });
         }

         function firstChart() {
            var canvas = document.getElementById('line-chart').getContext('2d');
            new Chart(canvas, {
               type: 'line',
               data: {
                  labels:arrayDispositivos,
                  datasets: [{
                     label: 'TEMPERATURA RELATIVA',
                     data:arrayTemperaturas,
                     backgroundColor: "rgba(182, 213, 139, 0.5)"
                  }, ]
               }
            });
         }

         function thirdChart() {
            var canvas = document.getElementById("chart3").getContext('2d');
            new Chart(canvas, {
               type: 'bar',
               data: {
                  labels: arrayDispositivos,
                  datasets: [{
                     backgroundColor: [
                        "#512da8", 
                        "#90a4ae", 
                        "#009688", 
                        "#e74c3c"
                        ],
                        data: arrayTemperaturas,
                  }]
               }
            });
         }

         function fourthChart() {
            var canvas = document.getElementById("chart4").getContext('2d');
            new Chart(canvas, {
               type: 'doughnut',
               data: {
                  labels: arrayDispositivos,
                  datasets: [{
                     backgroundColor: [
                        "#512da8", 
                        "#90a4ae", 
                        "#009688", 
                        "#e74c3c"
                        ],
                        data:arrayTemperaturas,
                  }]
               }
            });
         }

      </script>
   </div>
   <br><br><br>
   <link href="css/style.css" rel="stylesheet" type="text/css">
</body>
</html>