<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Home</title>
</head>
<body>
   <div id="screen" class="container">
      <div class="row"><center><br><br>
         <h1 class="h1 display-1"> Droguería Betapharma</h1></center><br><br>
         <% for (item of devices) { %>
           <div class="col">
            <div   class="card">
               <form action="/enviar-reporte" method="post">
                  <center>
                  <h2  id="dispositivo"><%= item.name %></h2>
                  <br> 
                  <h4>Temperatura Actual</h4>
                  <h1 id="temperatura"><%= item.params.currentTemperature %>°C
                  <br>
                  <h4 for="humedad">Humedad Relativa</h4>
                  <h2 id="humedad"><%= item.params.currentHumidity %>%</h2>
                  <br> 
                  <button type="button"  class="button-1" role="button" onClick="window.location.reload();">Actualizar</button>
                  <input type="hidden" name="dispositivo" value="<%= item.name %>">
                  <input type="hidden" name="temperatura" value="<%= item.params.currentTemperature %>°C">
                  <input type="hidden" name="humedad" value="<%= item.params.currentHumidity %>%">
                  <button  type="button" class="button-20"  role="button" id="pdf-btn" type="submit">Historial</button></center>
               </form>
            </div>
         </div>
         <% } %>
      </div><br><br>
      <!-- HTML !-->

<!-- HTML !-->

<script> 
   $(document).ready(function(){
   setInterval(function(){
         $("#screen").load(window.location.href  );
   }, 20000);
   });
   </script>



      <div class="chart">
      <div class="row mt-4">
         <div class="col">
            <h2 class="mb-4 text-center">Temperatura relativa</h2>
            <canvas id="graficoTemp" width="400" height="200"></canvas>
         </div>
         <div class="col">
            <h2 class="mb-4 text-center">Humedad relativa</h2>
            <canvas id="graficoHum" width="400" height="200"></canvas>
         </div></div>
         <script>
            let arrayTemperaturas = '<%= tempArray %>'.split(',');
            let arrayDispositivos = '<%= deviceArray %>'.split(',');
            let arrayHumedad = '<%= humidityArray %>'.split(',');

            const temperaturaContainer = document.getElementById('graficoTemp');
            const humedadContainer = document.getElementById('graficoHum');

            const graficoTemperatura = new Chart(temperaturaContainer, {
               type: 'line',
               data: {
                  labels: arrayDispositivos,
                 
                  datasets: [{
                     label: 'Temperatura Relativa',
                     
                     data: arrayTemperaturas,
                    
                     backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(62, 205, 86)'
                     ],
                     hoverOffset: 4
                  }],
               },
               options: {
                  plugins: {
                     labels: {
                        render: function (args) {
                           return args.value + ' °C';
                        },
                        fontColor: '#ffffff',
                        fontSize: 18,
                     }
                  }
               }
            });

            const graficoHumedad = new Chart(humedadContainer, {
               type: 'line',
               data: {
                  labels: arrayDispositivos,
                  datasets: [{
                     label: 'Humedad Relativa',
                     data: arrayHumedad,
                     backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(62, 205, 86)'
                     ],
                     hoverOffset: 4
                  }]
               },
               options: {
                  plugins: {
                     labels: {
                        render: function (args) {
                           return args.value + ' %';
                        },
                        fontColor: '#ffffff',
                        fontSize: 18,
                        precision: 0
                     }
                  }
               }
            });
         </script>
      </div>
   </div><br><br><br>
   <script type="module" src="../scripts/index.js"></script>
   <link href="css/style.css" rel="stylesheet" type="text/css">
  
</body>
</html>