<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <script src="js/jquery.gridster.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

   <link rel="stylesheet" type="text/css" href="css/jquery.gridster.css">
   <title>Home</title>
</head>  
<body>
   <div class="wrapper mb-4">
      <div class="user-topbar">
         <!-- <p class="user-email pt-2"><%= user %></p> -->
         <a href="/logout" class="mt-2 mx-2">
            <button type="button" class="button-20 logout-btn"  role="button" id="pdf-btn"  type="submit" >
               SALIR
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
               </svg>
            </button> 
         </a>
         <!-- <div class="logout-icon">
            <a href="/logout">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
               </svg>
            </a>
         </div> -->
      </div>
      <div class="slider" id="slider">
         <ul class="slides">
            <li class="slide" id="slide1">
               <a href="#">
                  <p class="caption"></p>
               </a>
            </li>
            <li class="slide" id="slide2">
               <a href="#">
                  <p class="caption"></p>
               </a>
                  <img src="img/logo.svg" alt="logo" height="150" width="288"/>
            </li>
         </ul>
      </div>
   </div>

   <div id="screen" class="container">
      <div class="row">
         <% for (item of devices) { %>
         <div class="col">
            <div class="card text-center">
               <form action="/enviar-reporte" >
                  <h2 id="dispositivo"><b><%= item.name %></b></h2>
                  <br> 
                  <h4>Temperatura Actual</h4>
                  <h1 id="temperatura">
                     <% if(item.params.currentTemperature=='unavailable'){ %>
                        -
                      <% } else{ %>  
                        <%= item.params.currentTemperature %>°C
                     <% } %>
                  </h1>
                  <br>
                  <h4 for="humedad">Humedad Relativa</h4>
                  <h2 id="humedad">
                     <% if(item.params.currentHumidity=='unavailable'){ %>
                        -
                      <% } else{ %>  
                        <%= item.params.currentHumidity %>%
                     <% } %>
                  </h2>
                  <br> 
               
                  <input type="hidden" name="dispositivo" value="<%= item.name %>">
                  <input type="hidden" name="temperatura" value="<%= item.params.currentTemperature %>°C">
                  <input type="hidden" name="humedad" value="<%= item.params.currentHumidity %>%">
                  <button  type="button" class="button-20"  role="button" id="pdf-btn"  type="submit" onClick="location.href=`/excel/?device=<%= item.name %>`;"> Historial - <%= item.name %></button></center>
               </form>
            </div>
         </div>
         <% } %>
      </div>
      <br><br>
      <br><br><h2>Gráfico Histórico </h2> 
      <canvas class="col" id="grafico1container"></canvas>  
      <div class="mt-2 mb-4" id="historicos">
         <div class="historicos-container">
            <div class="text-center mb-4">
               <img src="img/logo.svg" height="150" width="390"/>
            </div>
            <h3>Datos históricos. Últimas 24hs.</h3>
            <div class="export-btns pt-4 pb-4">
               <button type="button" class="button-20" role="button" onClick="location.href='/excel';">DESCARGAR REPORTE EN EXCEL</button>
               <button type="button" class="button-20" role="button" id="export">DESCARGAR REPORTE EN PDF</button>
            </div>

            <div class="table-container">
               <table class="table table-striped table-hover tabla-datos mb-6">
                  <thead>
                     <tr>
                        <th>Fecha y hora</th>
                        <th>Dispositivo</th>
                        <th>Temperatura Registrada</th>
                     </tr>
                  </thead>
                  
                  <% for (item of historicDevices) { %>
                     <tr>
                        <td><%= item.currentDate.toDate().toLocaleString() %></td>
                        <td><%= item.device.name %></td>
                        <td>
                           <% if(item.temperature=='unavailable'){ %>
                              -
                            <% } else{ %>  
                              <%= item.temperature %>°C
                           <% } %>
                        </td>
                     </tr> 
                  <% } %>
               </table>
            </div>
            
            <br>
            <canvas class="col" id="grafico1container"></canvas>
            <!-- <h2>Grafico heladera 1</h2> 
            <canvas class="col" id="grafico1container"></canvas> -->
            <!-- <div class="col" id="grafico2container"></div>
            <div class="col" id="grafico3container"></div>
            <div class="col" id="grafico4container"></div> -->
         </div>

      </div>
      <br />

      <!-- HTML !-->
      <!-- HTML !-->

      <!-- HTML !-->

      <!-- <script> 
         $(document).ready(function(){
            setInterval(function(){
                  $("#screen").load(window.location.href);
            }, 20000);
         });
      </script> -->
      
   </div>
</body>

      <script>
         let arrayTemperaturas = '<%= tempArray %>'.split(',');
         let arrayDispositivos = '<%= deviceArray %>'.split(',');
         let arrayHumedad = '<%= humidityArray %>'.split(',');

         let temperaturasHeladera1 = '<%= temperaturas1 %>'.split(',');    
         let temperaturasHeladera2 = '<%= temperaturasHeladera2 %>'.split(',');
         let temperaturasHeladera3 = '<%= temperaturasHeladera3 %>'.split(',');
         let temperaturasHeladera4 = '<%= temperaturasHeladera4 %>'.split(',');
         let fechasHeladera1 = '<%= fechas1 %>'.split(',');

         //console.log(temperaturasHeladera1);


         const temperaturaContainer = document.getElementById('graficoTemp');
         const humedadContainer = document.getElementById('graficoHum');

         const graficoHeladera1Container = document.getElementById('grafico1container');

         const graficoHeladera1 = new Chart(graficoHeladera1Container, {
            type: 'line',
            data: {
               labels: fechasHeladera1,
               datasets: [
                            {
                                 label: "HELADERA 1",
                                 //fill:false,
                                 backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo
                                 borderColor: 'rgba(54, 162, 235, 1)', // Color del borde
                                 borderWidth: 1,
                                 data: temperaturasHeladera1
                            },
                            /* {
                                 label: "HELADERA 2",
                                 backgroundColor: 'rgba(0, 120, 97, 0.4)', // Color de fondo
                                 borderColor: 'rgba(0, 120, 97, 0.7)', // Color del borde
                                 borderWidth: 1,
                                 data: temperaturasHeladera2
                            }, */
                            {
                                 label: "HELADERA 4",
                                 backgroundColor: 'rgba(255, 0, 77, 0.3)', // Color de fondo
                                 borderColor: 'rgba(255, 0, 77, 0.6)', // Color del borde
                                 borderWidth: 1,
                                 data: temperaturasHeladera4
                            },  ],
            },
            options: {
               plugins: {
                  /* labels: {
                     render: function (args) {
                        return args.value + ' °C';
                     },
                     fontColor: '#ffffff',
                     fontSize: 18,
                  }, */
                  tooltip: {
                     enabled: true,
                     mode: 'single',
                     callbacks: {
                        label: function(tooltipItems, data) {
                           return data.datasets[tooltipItems.datasetIndex].label +': ' + tooltipItems.yLabel + ' °C';
                        }    
                     }
                  }
               }
            }
         });

/*          const graficoTemperatura = new Chart(temperaturaContainer, {
            type: 'bar',
            data: {
               labels: arrayDispositivos,
               datasets: [{
                  label: 'Temperatura Relativa',
                  
                  data: arrayTemperaturas,
                  
                  backgroundColor: [
                     'rgb(106, 90, 205)',
                     'rgb(54, 162, 235)',
                     'rgb(255, 205, 86)',
                     'rgb(62, 205, 86)'
                  ],
                  hoverOffset: 4
               }],
            },
            options: {
               plugins: {
                  labels: {
                     render: function (args) {
                        return args.value + ' °C';
                     },
                     fontColor: '#ffffff',
                     fontSize: 18,
                  }
               }
            }
         }); */

         $(function(){ //DOM Ready
            //instantiate gridster 
            $(".gridster > ul ").gridster({
               widget_margins: [8, 8],
               widget_base_dimensions: [100, 55]
            });

            //fill first widget
            //firstChart();

            //fill second widget
            //thirdChart();

            //fill fourth widget
            //fourthChart();

         });
         
         $("#export").on("click", function() {
            //console.log("ENTRA");
            exportDashboard();
         });

         function exportDashboard() {
            html2canvas($("#historicos")[0],{allowTaint:true}).then(function(canvas) {
               var imgData = canvas.toDataURL('image/png');
               var imgWidth = 210;
               var pageHeight = 295;
               var imgHeight = canvas.height * imgWidth / canvas.width;
               var heightLeft = imgHeight;

               var doc = new jsPDF('p', 'mm', "a4");
               var position = 0;
               
               doc.addImage(imgData, 'PNG', 8, position, imgWidth, imgHeight+6);
               heightLeft -= pageHeight;

               while (heightLeft >= 0) {
                  position = heightLeft - imgHeight;
                  doc.addPage();
                  doc.addImage(imgData, 'PNG', 8, position, imgWidth, imgHeight+6);
                  heightLeft -= pageHeight;
               }
               doc.save('Reporte.pdf');
            });
         }

        

      </script>
   </div>
   <br><br><br>
   <link href="css/style.css" rel="stylesheet" type="text/css">
</body>
</html>